<section class="advantages">
  <div class="advantages__container _container">
    <div class="advantages__header header-block">
      <h2 class="header-block__title">Designing Better Experience</h2>
      <div class="header-block__sub-title">
        Problems trying to resolve the conflict between the two
        major realms <br>of Classical physics: Newtonian mechanics
      </div>
    </div>
    <div class="advantages__body">
      <div class="advantages__column">
        <div class="advantages__item">
          <div class="advantages__icon">
            <img src="images/advantages-icon/advantages-01.svg" alt="Icon">
          </div>
          <div class="advantages__value">972 +</div>
          <div class="advantages__text">Consumer Products</div>
        </div>
      </div>
    </div>
  </div>
</section>