<section class="clients">
  <div class="clients__container _container">
    <div class="clients__items">
      <div class="clients__item">
        <img src="images/clients/client-01.png" alt="Client">
      </div>
      <div class="clients__item">
        <img src="images/clients/client-02.png" alt="Client">
      </div>
      <div class="clients__item">
        <img src="images/clients/client-03.png" alt="Client">
      </div>
      <div class="clients__item">
        <img src="images/clients/client-04.png" alt="Client">
      </div>
      <div class="clients__item">
        <img src="images/clients/client-05.png" alt="Client">
      </div>
      <div class="clients__item">
        <img src="images/clients/client-06.png" alt="Client">
      </div>
    </div>
  </div>
</section>