<div class="backdrop is-hidden" data-modal>
  <div class="mobile-menu__container">
    <button type="button" class="mobile-menu__close_btn" data-modal-close>
      <svg width="20" height="20">
        <use href="images/mob-menu-btn/button-icon.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Home</a></li>
      <li class="mobile-menu__item "><a class="mobile-menu__link" href="#">Product</a></li>
      <li class="mobile-menu__item "><a class="mobile-menu__link" href="#">Pricing</a></li>
      <li class="mobile-menu__item "><a class="mobile-menu__link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</div>