<div class="drop is-hidden" data-modal>
  <div class="mob-menu-container">
    <div class="mob-menu-container__wraper1">
      <button type="button" class="close-menu" data-modal-close>
        <svg width="16" height="16">
          <use class="close-icon-menu" href="images/mob-menu-btn/button-icon.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="menu-container__wraper2">
      <ul class="mobil-list">
        <li class="mobil-list__element"><a class="mobil__link" href="#">Home</a></li>
        <li class="mobil-list__element "><a class="mobil__link" href="#about">About us</a></li>
        <li class="mobil-list__element "><a class="mobil__link" href="#how-it">How it’s made?</a>
        </li>
        <li class="mobil-list__element "><a class="mobil__link" href="#products">Our products</a>
        </li>
        <li class="mobil-list__element "><a class="mobil__link" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>