<section class="services">
  <div class="services__container _container">
    <div class="services__body">
      <div class="services__column">
        <div class="services__item item-service">
          <div class="item-service__icon">
            <svg width="48" height="41" aria-label="Icon">
              <use class="item-service__svg" href="images/services-icon/symbol-defs.svg#icon-icon-service-01"></use>
            </svg>
            <!-- <img src="images/services-icon/icon-service-01.svg" alt="Environmental Consulting"> -->
          </div>
          <h3 class="item-service__title">Environmental Consulting</h3>
          <div class="item-service__text">We focus on ergonomics and
            meeting you where you work.</div>
        </div>
      </div>
      <div class="services__column">
        <div class="services__item item-service">
          <div class="item-service__icon">
            <svg width="48" height="41" aria-label="Icon">
              <use class="item-service__svg" href="images/services-icon/symbol-defs.svg#icon-icon-service-02"></use>
            </svg>
            <!-- <img src="images/services-icon/icon-service-02.svg" alt="Finance and consultancy"> -->
          </div>
          <h3 class="item-service__title">Finance and consultancy</h3>
          <div class="item-service__text">Just type what's on your mind
            and we'll get you there.</div>
        </div>
      </div>
      <div class="services__column">
        <div class="services__item item-service">
          <div class="item-service__icon">
            <svg width="48" height="41" aria-label="Icon">
              <use class="item-service__svg" href="images/services-icon/symbol-defs.svg#icon-icon-service-03"></use>
            </svg>
            <!-- <img src="images/services-icon/icon-service-03.svg" alt="Financial Services Consulting"> -->
          </div>
          <h3 class="item-service__title">Financial Services Consulting</h3>
          <div class="item-service__text">the quick fox jumps over the
            lazy dog</div>
        </div>
      </div>
    </div>
  </div>
</section>