<section class="whowe">
  <div class="whowe__container _container">
    <div class="whowe__header header-block">
      <h2 class="header-block__title">Who We Are</h2>
      <div class="header-block__sub-title">
        Problems trying to resolve the conflict between the two major realms <br>
        of Classical physics: Newtonian mechanics
      </div>
    </div>
    <div class="whowe__body">
      <div class="whowe__video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GqWc-6ibbio" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="whowe__content">
        <div class="whowe__top">
          <h2 class="whowe__title">Most trusted in our field</h2>
          <div class="whowe__text">
            Most calendars are designed for teams. Slate is designed
            for freelancers who want a simple way to plan their schedule.
          </div>
        </div>
        <div class="whowe__items">
          <div class="whowe__item item-whowe">
            <div class="item-whowe__icon">
              <img src="images/who-we-icon/who-we01.svg" alt="The quick fox jumps over the lazy dog">
            </div>
            <div class="item-whowe__body">
              <div class="item-whowe__title">the quick fox jumps over the lazy dog</div>
              <div class="item-whowe__text">Things on a very small scale</div>
            </div>
          </div>
          <div class="whowe__item item-whowe">
            <div class="item-whowe__icon">
              <img src="images/who-we-icon/who-we02.svg" alt="The quick fox jumps over the lazy dog">
            </div>
            <div class="item-whowe__body">
              <div class="item-whowe__title">the quick fox jumps over the lazy dog</div>
              <div class="item-whowe__text">Things on a very small scale</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>