.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  // .header__container
  &__container {
    display: flex;
    min-height: 75px;
    align-items: center;
  }
  // .header__logo
  &__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
  }
  // .header__menu
  &__menu {
    margin-left: 133px;
  }
}

.menu {
  padding: 5px 0;
  // .menu__list
  &__list {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 767.98px) {
      display: none;
    }
  }
  // .menu__item
  &__item {
    &:not(:last-child) {
      margin-right: 21px;
    }
  }
  // .menu__link
  &__link {
    font-weight: 600;
    line-height: 1.7;
    color: $secondary-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

////////////
.header__open-menu {
  @media screen and (max-width: 767.98px) {
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: inherit;
    border: none;
    padding: 0;
    margin-left: 224px;
    z-index: 4;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
