.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  // .header__container
  &__container {
    display: flex;
    min-height: 104px;
    align-items: center;
    @media (max-width: 479.98px) {
      min-height: 70px;
    }
  }
  // .header__logo
  &__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
  }
  // .header__menu
  &__menu {
    margin-left: 133px;
    @media (max-width: 992.98px) {
      margin-left: 80px;
    }
    @media (max-width: 767.98px) {
      margin-left: 40px;
    }
  }
}

.menu {
  padding: 5px 0;
  // .menu__list
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  // .menu__item
  &__item {
    &:not(:last-child) {
      margin-right: 21px;
    }
  }
  // .menu__link
  &__link {
    font-weight: 600;
    line-height: 1.7;
    color: $secondary-color;

    &:hover {
      text-decoration: underline;
    }
  }
}
