.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0000007a;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: all 0.3s ease-in-out 0s;

  @media (min-width: 768px) {
    display: none;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu__container {
  width: 250px;
  height: 100vh;
  position: absolute;
  background-color: $accent-color;
  top: 0;
  right: 0;
  padding: 60px 21px 21px;
  transition: all 0.3s ease 0s;
}

.mobile-menu__close_btn {
  border: none;
  padding: 0;
  margin-bottom: 23px;
  position: absolute;
  top: 28px;
  right: 25px;
  background-color: transparent;
  &:hover,
  &:focus {
    border: 50%;
  }
}
.mobile-menu__item {
  height: 45px;
  left: 0px;
  top: 123px;
  border-bottom: 1px solid #ffffff29;
  display: flex;
  align-items: center;
}
.mobile-menu__link {
  color: $main-color-btn;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}
