.mob-menu-container {
  width: 250px;
  height: 100vh;
  position: absolute;
  background-color: #000000cc;
  top: 0;
  right: 0;
  padding: 60px 21px 21px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-container__wraper1 {
  margin-bottom: 20px;
}

.close-menu {
  border: none;
  padding: 0;
  margin-bottom: 23px;
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: transparent;
  &:hover,
  &:focus {
    background-color: yellowgreen;
    border: 50%;
  }
}
.button-menu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 209px;
  height: 44px;
  left: 21px;
  top: 60px;
  background-color: olivedrab;
  border: none;
  border-radius: 22px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
  color: $main-color;
  &:focus,
  &:hover {
    background-color: #ecebeb;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.button-menu::after {
  content: '';
  width: 10px;
  height: 10px;
  // background-image: url(../images/hero-header/Vector.svg);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  margin-left: 15px;
  background-position: 50% 50%;
}
.mobil-list__element {
  width: 250px;
  height: 42px;
  left: 0px;
  top: 123px;
  border-top: 1px solid #e18298;
  display: flex;
  align-items: center;
  &:nth-child(5n) {
    border-bottom: 1px solid #e18298;
  }
}
.mobil__link {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: red;
  &:focus,
  &:hover {
    color: yellow;
  }
}
.currents {
  color: yellow;
}

.drop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#fd9b9b, 0.5);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}
.drop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
